
<!DOCTYPE html>
<html> 
<!-- {% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %} -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>PROFILES FINDER</title>

</head>
<body>
	<!-- Yandex.Metrika counter --> 
	<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49430632 = new Ya.Metrika2({ id:49430632, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49430632" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	<div class="container">
		</br>
		<div class="d-inline-block" style="margin-bottom: 0px;">
		  	<h1 style="margin-bottom: 0px;">
		  		UDH
		  	</h1>
		</div>
		<div class="d-inline-block" style="margin-bottom: 0px;" >
		  | intellectual profiles search engine | v.0 alpha |	
		</div>
		<hr style="width: 100%; color: black; margin-top: 5px; margin-bottom: 5px; height: 5px; background-color:black;" />
		<div class="d-inline-block">
		  <h3>PROFILES FINDER</h3>
		</br>
		</div>
	</div>

	<div class="container">
		<form action="/getprofile/" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button type="submit" value="Submit" class="btn btn-outline-dark btn-block">SUBMIT</button>
		</form>
	</div>
	</br>

	<div class="container">
			{% if content.url %}
			<div>
			<span>BASE URL -> </span>
			 <br> <a target="_blank" rel="noopener noreferrer" href = {{ content.url }} >{{ content.url }}</a>
			</div>
			{% endif %}
			{% if content.emails %}
			<div>
				<span>EMAILS -> </span>
				{% for email in content.emails %}
				<br>  <a target="_blank" rel="noopener noreferrer" href="mailto:"{{ email }}> {{ email }} </a>
				{% endfor %}
			</div>
			{% endif %}
			{% if content.phones %}
			<div>
				<span>PHONES -> </span> 
				{% for phone in content.phones %}
				<br> <a href="tel:"{{ phone }}>{{ phone }}</a>
				{% endfor %}
			</div>
			{% endif %}
			{% if content.socials.facebook %}
			<div>
				 <span>FACEBOOK -> </span> 
				{% for link in content.socials.facebook %}
				<br> <a target="_blank" rel="noopener noreferrer" href = {{ link }} >{{ link }}</a>
				{% endfor %}
			</div>
			{% endif %}
			{% if content.socials.linkedin %}
			<div>
				 <span>LINKEDIN ->  </span> 
				{% for link in content.socials.linkedin %}
				<br> <a target="_blank" rel="noopener noreferrer" href = {{ link }} >{{ link }}</a>
				{% endfor %}
			</div>
			{% endif %}
			{% if content.socials.vk %}
			<div>
				<span>VKONTAKTE ->  </span> 
				{% for link in content.socials.vk %}
				<br> <a target="_blank" rel="noopener noreferrer" href = {{ link }} >{{ link }}</a>
				{% endfor %}	
			</div>
			{% endif %}	
			{% if content.socials.telegram %}
			<div>
				<span>TELEGRAM ->  </span> 
				{% for link in content.socials.telegram %}
				<br> <a target="_blank" rel="noopener noreferrer" href = {{ link }} >{{ link }}</a>
				{% endfor %}	
			</div>	
			{% endif %}		
			{% if content.socials.instagram %}
				<div>
				<span>INSTAGRAM ->  </span> 
				{% for link in content.socials.instagram %}
				<br> <a target="_blank" rel="noopener noreferrer" href = {{ link }} >{{ link }}</a>
				{% endfor %}
				</div>
			{% endif %}		
	
	</div>
	<div class="container">
		</br>
		<hr style="width: 100%; color: black; margin-top: 5px; margin-bottom: 5px; height: 5px; background-color:black;" />
		<p>For more information or batch request please visit our website -> 
			<a target="_blank" rel="noopener noreferrer" href = http://urbandatahub.org class="text-muted" >URBAN DATA HUB</a> <- or contact us directly ->
			<a href="mailto:info@urbandatahub.org" class="text-muted" >info@urbandatahub.org</a>
		</p>	
	</div>

	
</body>
</html>














